.AppContainer {
  background-color: #36454f;
  width: 100%;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  color: azure;
}

.Logo-Container {
  display: flex;
  gap: 20px;
}

.Logo-Container img {
  height: 25px;
}

.AppBar-Utitilies {
  display: flex;
  gap: 25px;
}

.Profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.Profile img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.Notification-Logout {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
