.LoginContainer {
  height: 100vh;
  width: 100vh;
  background-color: #262626;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LogoContainer {
  display: flex;
  gap: 40px;
  padding-top: 50px;
}

.LoginContainer .emblem {
  height: 80px;
}

.LoginContainer .Logo {
  height: 80px;
}

.input-fields {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  gap: 40px;
}

.input-fields input {
  background-color: #e1e1e2;
  height: 8vh;
  width: 50vh;
}

.LoginButton {
  background-image: linear-gradient(#8b57fa, #69bbea, #ab62cd);
  width: 80px;
  font-size: 20px;
  align-self: center;
}

.LoginW {
  align-self: flex-start;
  font-size: 15px;
}

.LoginOptions {
  display: flex;
  flex-direction: row;
  align-self: center;
  gap: 20px;
}

.Options {
  background-color: white;
  width: 40px;
}

.RegisterURl {
  text-decoration: underline;
  color: #369fff;
}

.NewUser {
  font-size: 20px;
}
