.TextEditor {
  width: 100%;
  min-height: 78.5vh;
  background-color: aliceblue;
  padding-left: 2vh;
  outline: none;
  transition: width 0.3s;
}

.TextEditor.drawer-open {
  width: calc(100% - 240px);
  margin-left: 240px;
}

.TextEditorContainer.dark .TextEditor {
  background-color: black;
  color: white;
}
